<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style>
body{background: url("/static/sa.png") ;text-align: center;}
h1{color:white;


text-shadow:
   -1px -1px 0 #ccc,  
    1px -1px 0 #0a0,
    -1px 1px 0 #ccc,
     1px 1px 0 #ccc;

}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

</style>
</head>
<body class="container" id="page" id="align">
<div class="row" ><h1><i>taiyyari.com</i></h1></div>
<form class="form-inline" role="form" align="center" method="post">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" name="email_id" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>  
  <button type="submit" class="btn btn-success">Subscribe</button>
</form>
</body>
</html>
